{% extends "base_generic.html" %}

{% block content %}
  <h1>Question: {{ question.question_text }}</h1>

  <p><strong>Author:</strong> <a href="{% url 'user-detail' question.user.pk %}">{{ question.user.username }}</a></p>
  <p><strong>Date added:</strong> {{ question.pub_date }}</p>  

   <div style="margin-left:20px;margin-top:20px">

    {% for ans in question.answer_set.all %}
      <hr>
        <p>{{ans.user.username}}, {{ans.user.bio}}</p>
      <p>
        {{ ans.answer_text }}
        <p>Comments!!</p>
        {% for cmt in ans.comment_set.all %}
        <p>{{cmt.user.username}}</p>
        <p>{{ cmt.comment_text}}</p>
        {% endfor %}
      </p>
      
    {% endfor %} 
  </div>
{% endblock %}