{% extends "base_generic.html" %}

{% block content %}
  <h1>Question: {{ question.question_text }}</h1>

  <p><strong>Posted By:</strong> <a href="{% url 'user-detail' question.user.pk %}">{{ question.user.username }}</a>
  <strong>On</strong> {{ question.pub_date }}
    
  {% if question.updated %}
    <strong>updated on :</strong> {{ question.updated }}

  {% endif %}
  </p>
  {% if question.user.pk == user.id %}
  <p><a href="{% url 'question_update' question.pk %}">Update Question</a>
    <a href="{% url 'question_delete' question.pk %}">Delete Question</a>
  </p>
  {% endif %}
  {% if user.is_authenticated and question.user.pk != user.id %}

  <p><a href="{% url 'answer_create' question.pk %}">Add Answer</a></p>
    
    Upvotes: {{ question.upvotes }}
 <form method="post" action="{% url 'question_vote' question.id %}">
                        {% csrf_token %}
                          
      <input type="submit"
      class="btn" 
      {% if user in question.upvote_users.all%}
      name="remove_upvote"
      value="Remove Upvote"
      {% else %}
      name = "upvote"
      value = "Upvote"
      {% endif %}
      {% if user in question.downvote_users.all %} disabled
      {% endif %}>
                                
                          
                    </form>
                    
    Downvotes: {{ question.downvotes }}
 <form method="post" action="{% url 'question_vote' question.id %}">
                        {% csrf_token %}
                          
      <input type="submit" 
      class="btn" 
      {% if user in question.downvote_users.all%}
      name="remove_downvote"
      value="Remove Downvote"
      {% else %}
      name = "downvote"
      value = "Downvote"
      {% endif %}
      {% if user in question.upvote_users.all %} disabled
      {% endif %}>
                                
                          
                    </form>
       {% endif %}  

   <div style="margin-left:20px;margin-top:20px">

    {% for ans in question.answer_set.all %}
      <hr>
        <p><a href="{% url 'user-detail' ans.user.pk%}">{{ans.user.username}}</a>, {{ans.user.bio}}</p>
      <p>
        <a href="{% url 'answer-detail' ans.question.pk ans.pk %}">{{ ans.answer_text }}</a>
        <p>Comments!!</p>
        {% for cmt in ans.comment_set.all %}
        <p>{{cmt.user.username}}</p>
        <p>{{ cmt.comment_text}}</p>
        {% endfor %}
      </p>
      
    {% endfor %} 
  </div>
{% endblock %}