.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

form {
    display: inline-block; 
}


.nav-content {
    padding-left:150px;
    padding-right:150px;
}

nav {
    padding-bottom:20px;
    padding-top:10px;
}